.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* espacio entre inicio, centro y final */
  padding: 20px;
  position: relative;
  z-index: 2;
}
.logo {
  max-height: 90px; /* controla el tamaño */
  height: auto;
  width: auto;
  
}

.carrucel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px; /* O cualquier tamaño máximo que prefieras */
  margin: 0 auto; /* Centrado del carrusel */
}

.carrucel img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: rgb(12, 12, 12);
  cursor: pointer;
}
  
  /* Menú estilo escritorio (horizontal) */
  .nav {
    flex-grow: 1; /* que ocupe todo el espacio disponible */
    display: flex;
    justify-content: center; /* centrar menú */
  }
  .nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
 
    padding: 0;
    margin: 0;
  }
  
  .nav ul li a {
    color: rgb(15, 15, 15);
    text-decoration: none;
    font-size: 2rem;
    
  }
  
  .nav ul li a:hover {
    text-decoration: underline;
  }
  
  .nav :hover{
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  /* ---------------------- */
  /* Versión móvil */
  @media (max-width: 600px) {
    .header {
      flex-direction: row; /* Mantener en fila */
      align-items: center; /* Alineación del contenido */
      justify-content: flex-start; /* Alinea el contenido al inicio */
      padding: 20px;
    }
  
    /* Cambiar logo para que esté al final */
    .logo {
      max-height: 50px;
      margin-left: auto; /* Empuja el logo hacia el final */
      padding-left: 200px;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .nav {
      position: fixed;
      flex-direction: column;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100%;
      transition: left 0.3s ease;
      z-index: 3;
      background-color: #cfcfcf ;
    }
  
    .nav.open {
      left: 0;
    }
  
    .nav ul {
      flex-direction: column;
      gap: 20px;
      padding-top: 50px;
    }
  
    .nav ul li a {
      font-size: 2rem; /* más grande en móvil */
      padding: 25px;
      text-align: left;
    }
  
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      z-index: 2;
    }
  
    .carrucel {
      width: 100%;
      height: auto;
    }
  }